@model ColetaModel.ArlaConcentracao
@{
    ViewData["Title"] = "Coleta De Concentração";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .input {
            border: none;
        }

        .table {
            margin: 0 auto;
            border: 1px solid black;
            border-collapse: collapse;
            width: 80%;
        }

        .texto-central {
            text-align: center;
        }

        .tabela {
            background-color: #800000;
            color: white;
        }

        .imagem {
            max-width: 200px;
            height: 100px;
            display: block;
            margin: 0 auto;
            vertical-align: middle;
        }
    </style>
</head>
<body>
   
    <form method="post" asp-controller="Coleta" asp-action="SalvarConcentracao" asp-route-os="@ViewData["os"]" asp-route-orcamento="@ViewData["orcamento"]">
        @if (Model == null)
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="3" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :@ViewBag.OS</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3" class="texto-central"> ENSAIO DE ARLA 32</td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;">Data Inicio:</td>
                    <td><input type="date" class="form-control input " name="data_ini"/></td>
                    <td style="background-color: #800000; color:white;">Data Término:</td>
                    <td><input type="date" class="form-control input " name="data_term" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="5">
                        <b>Ensaio a ser realizado:</b> Índice de refração de determinação da concentração de uréia por índice de refração - Anexo C - IT.122/Q
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        Norma: 
                    </td>
                </tr>
                <tr>
                    <td colspan="5"> Np:</td>
                </tr>
                <tr>
                    <td colspan="5">Descrição:</td>
                </tr>
                <tr>
                    <td colspan="4" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;">Lote da solução padrão</td>
                    <td><input class="form-control input " name="lote_solucao" id="lote_solucao" /></td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;">Código da curva:</td>
                    <td><input type="text" class="form-control input " name="codigo_curva" id="codigo_curva" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Fator de avaliação:</td>
                    <td><input type="text" class="form-control input " name="fator_avaliacao" id="fator_avaliacao" /></td>
                </tr>
            </table>
            <Br />
            <!--  Segudna tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td class="texto-central">Execução do Ensaio</td>
                </tr>
                <tr>
                    <td>
                        Índice de Refração deve estar entre 1,3814 a 1,3843 e Concentração deve estar entre 31,8 a 33,2 % em (m/m).
                    </td>
                </tr>
            </table>

            <br />

            <!--  Terceira tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td class="texto-central">Concetração de Biureto(%)</td>
                    <td class="texto-central">Indice refração da água</td>
                    <td class="texto-central">Refração Amostra 01</td>
                    <td class="texto-central">Refração Amostra 02</td>
                    <td class="texto-central">Concetração de uréia </td>
                </tr>
                <td><input type="text" class="form-control input " disabled /></td>
                <td><input type="text" class="form-control input " name="indice_agua" id="indice_agua" /></td>
                <td><input type="text"  class="form-control input " name="refracao_amostra1" id="refracao_amostra1" /></td>
                <td><input type="text"  class="form-control input " name="refracao_amostra2" id="refracao_amostra2" /></td>
                <td><input type="text" class="form-control input " disabled /></td>
            </table>

            <br />

            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela texto-central">
                    <td colspan="6">Código de instrumento utilizados.</td>
                </tr>
                <tr class="tabela texto-central">
                    <td>Descrição </td>
                    <td>Código </td>
                    <td>Validade </td>
                    <td>Descrição </td>
                    <td>Código </td>
                    <td>Validade</td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input" name="desc1_instrumento" /></td>
                    <td><input type="text" class="form-control input" name="codigo1_instrumento" /></td>
                    <td><input type="date" class="form-control input" name="validade1_instrumento" /></td>
                    <td><input type="text" class="form-control input" name="desc2_instrumento" /></td>
                    <td><input type="text" class="form-control input" name="codigo2_instrumento" /></td>
                    <td><input type="date" class="form-control input" name="validade2_instrumento" /></td>
                </tr>
            </table>
            <br />
            <!--  Quarta tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela"><td colspan="2" class="texto-central">Código de Instrumentos Utilizados</td></tr>
                <tr>
                    <td>DE:</td>
                    <td><input type="text" class="form-control input" name="de_equipamento" id="de_equipamento" /></td>
                </tr>
                <tr>
                    <td>EE:</td>
                    <td><input type="text" class="form-control input" name="ee_equipamento" id="ee_equipamento" /></td>
                </tr>
                <tr class="tabela">
                    <td colspan="2" class="texto-central">Observações:</td>
                </tr>
                <tr>
                    <td colspan="2"><textarea name="obs" id="obs" class="form-control w-100 mr-2 input" style="resize: none;"></textarea></td>
                </tr>
                <tr class="tabela">
                    <td class="texto-central">Executado Por:</td>
                    <td class="texto-central">Auxiliado Por:</td>
                </tr>
                <tr>
                    <td><input type="text"  class="form-control input" name="executado_por" id="executado_por" /></td>
                    <td><input type="text"  class="form-control input" name="auxiliado_por" id="auxiliado_por" /></td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" value="SalvarConcentracao" class="btn btn-success btn btn-primary btn-md">Salvar Coleta</button>
            </div>
        }
        else
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="3" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :@ViewBag.OS</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3" class="texto-central"> ENSAIO DE ARLA 32</td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;">Data Inicio:</td>
                    <td><input type="text" class="form-control input " name="data_ini" value="@Model.data_ini.ToString("dd/MM/yyyy")" /></td>
                    <td style="background-color: #800000; color:white;">Data Término:</td>
                    <td><input type="text" class="form-control input " name="data_term" value="@Model.data_term.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="5">
                        <b>Ensaio a ser realizado:</b> Índice de refração de determinação da concentração de uréia por índice de refração - Anexo C - IT.122/Q
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        Norma:
                    </td>
                </tr>
                <tr>
                    <td colspan="5"> Np:</td>
                </tr>
                <tr>
                    <td colspan="5">Descrição:</td>
                </tr>
                <tr>
                    <td colspan="4" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;">Lote da solução padrão</td>
                    <td><input class="form-control input " name="lote_solucao" id="lote_solucao" value="@Model.lote_solucao" /></td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;">Código da curva:</td>
                    <td><input type="text" class="form-control input " name="codigo_curva" id="codigo_curva" value="@Model.codigo_curva" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Fator de avaliação:</td>
                    <td><input type="text" class="form-control input " name="fator_avaliacao" id="fator_avaliacao" value="@Model.fator_avaliacao" /></td>
                </tr>
            </table>
            <Br />
            <!--  Segudna tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td class="texto-central">Execução do Ensaio</td>
                </tr>
                <tr>
                    <td>
                        Índice de Refração deve estar entre 1,3814 a 1,3843 e Concentração deve estar entre 31,8 a 33,2 % em (m/m).
                    </td>
                </tr>
            </table>

            <br />

            <!--  Terceira tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td class="texto-central">Concetração de Biureto (%)</td>
                    <td class="texto-central">Indice refração da água</td>
                    <td class="texto-central">Refração Amostra 01</td>
                    <td class="texto-central">Refração Amostra 02</td>
                    <td class="texto-central">Concetração de uréia (%) </td>
                </tr>
                <td><input type="text" class="form-control input " disabled  value="@Model.conc_biureto"/></td>
                <td><input type="text" class="form-control input " name="indice_agua" id="indice_agua" Value="@Model.indice_agua" /></td>
                <td><input type="text" class="form-control input " name="refracao_amostra1" id="refracao_amostra1" Value="@Model.refracao_amostra1" /></td>
                <td><input type="text" class="form-control input " name="refracao_amostra2" id="refracao_amostra2" Value="@Model.refracao_amostra2" /></td>
                <td><input type="text" class="form-control input " disabled value="@Model.conc_ureia" /></td>
            </table>

            <br />

            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela texto-central">
                    <td colspan="6">Código de instrumento utilizados.</td>
                </tr>
                <tr class="tabela texto-central">
                    <td>Descrição </td>
                    <td>Código </td>
                    <td>Validade </td>
                    <td>Descrição </td>
                    <td>Código </td>
                    <td>Validade</td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input" name="desc1_instrumento" value="@Model.desc1_instrumento" /></td>
                    <td><input type="text" class="form-control input" name="codigo1_instrumento" value="@Model.codigo1_instrumento" /></td>
                    <td><input type="text" class="form-control input" name="validade1_instrumento" value="@Model.validade1_instrumento.ToString("dd/MM/yyyy")" /></td>
                    <td><input type="text" class="form-control input" name="desc2_instrumento" value="@Model.desc2_instrumento" /></td>
                    <td><input type="text" class="form-control input" name="codigo2_instrumento" value="@Model.codigo2_instrumento" /></td>
                    <td><input type="tex" class="form-control input" name="validade2_instrumento" value="@Model.validade2_instrumento.ToString("dd/MM/yyyy")" /></td>
                </tr>
            </table>
            <br />
            <!--  Quarta tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela"><td colspan="2" class="texto-central">Código de Instrumentos Utilizados</td></tr>
                <tr>
                    <td>DE:</td>
                    <td><input type="text" class="form-control input" name="de_equipamento" id="de_equipamento" value="@Model.de_equipamento" /></td>
                </tr>
                <tr>
                    <td>EE:</td>
                    <td><input type="text" class="form-control input" name="ee_equipamento" id="ee_equipamento" value="@Model.ee_equipamento" /></td>
                </tr>
                <tr class="tabela">
                    <td colspan="2" class="texto-central">Observações:</td>
                </tr>
                <tr>
                    <td colspan="2"><textarea name="obs" id="obs" class="form-control w-100 mr-2 input" style="resize: none;">@Model.obs</textarea></td>
                </tr>
                <tr class="tabela">
                    <td class="texto-central">Executado Por:</td>
                    <td class="texto-central">Auxiliado Por:</td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input" name="executado_por" id="executado_por" value="@Model.executado_por" /></td>
                    <td><input type="text" class="form-control input" name="auxiliado_por" id="auxiliado_por" value="@Model.auxiliado_por" /></td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" value="SalvarConcentracao" class="btn btn-success btn btn-primary btn-md">Editar Coleta</button>
            </div>
        }
    </form>
        @section Scripts {
            @if (TempData.ContainsKey("Mensagem"))
            {
            <script>

                alert('@Html.Raw(TempData["Mensagem"])');
            </script>
            }
    }
</body>
</html>
