@model ColetaViewModelMetais;

@{
    ViewData["Title"] = "Coleta De Metais";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .input {
            border: none;
        }

        .table {
            margin: 0 auto;
            border: 1px solid black;
            border-collapse: collapse;
            width: 80%;
        }

        .texto-central {
            text-align: center;
        }

        .tabela {
            background-color: #800000;
            color: white;
        }

        .imagem {
            max-width: 200px;
            height: 100px;
            display: block;
            margin: 0 auto;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarMetais" asp-route-os="@ViewData["OS"]" asp-route-orcamento="@ViewData["orcamento"]">
        @if (Model.arlaMetais == null && Model.metaisTratamento == null)
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="7" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :</td>
                </tr>
                <tr class="tabela">
                    <td colspan="7" class="texto-central "> ENSAIO DE ARLA 32</td>
                    @*       <td> <input class="form-control input " style="height:10px; border:none;" name="os" readonly /></td> *@
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;" colspan="2">Data Inicio:</td>
                    <td colspan="1"><input class="form-control input " type="date" style="height:50px; border:none;" name="data_ini" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Data Término:</td>
                    <td colspan="2"><input class="form-control input " type="date" style="height:50px; border:none;" name="data_term" /></td>
                    <td colspan="2"> <input class="form-control input " style="height:50px; border:none;" name="os" value="@ViewBag.OS" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="9">
                        <b>Ensaio a ser realizado:</b> Determinação da conc (AlCaCr CuFe K Mg NaNi Zn) pelo método ICP-OES - Anexo I - IT.123-Q
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Norma: ABNT NBR ISO 22241-2
                    </td>
                    <td colspan="6">
                        <input class="form-control input " name="norma" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Np:</td>
                    <td colspan="6">
                        <input class="form-control input " name="np" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Descrição:</td>
                    <td colspan="6">
                        <input class="form-control input " name="descricao" />
                    </td>
                </tr>
                <tr class="tabela texto-central">
                    <td colspan="9"> Conversão dos Resultados</td>
                </tr>
            </table>
            <Br />


            <!-- para salvar na tabela de tratamento-->
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central">
                    <td>Elemento:</td>
                    <td>AI</td>
                    <td>Ca</td>
                    <td>Cr</td>
                    <td>Cu</td>
                    <td>Fe</td>
                    <td>K</td>
                    <td>Mg</td>
                    <td>Na</td>
                    <td>Ni</td>
                    <td>Zn</td>
                </tr>
                <tr>
                    <td class="texto-central">Branco:</td>
                    <td><input class="form-control input" name="branco_al" /></td>
                    <td><input class="form-control input" name="branco_ca" /></td>
                    <td><input class="form-control input" name="branco_cr" /></td>
                    <td><input class="form-control input" name="branco_cu" /></td>
                    <td><input class="form-control input" name="branco_fe" /></td>
                    <td><input class="form-control input" name="branco_k" /></td>
                    <td><input class="form-control input" name="branco_mg" /></td>
                    <td><input class="form-control input" name="branco_na" /></td>
                    <td><input class="form-control input" name="branco_ni" /></td>
                    <td><input class="form-control input" name="branco_zn" /></td>
                </tr>
            </table>
            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td rowspan="4">Resultados obtidos pelo Icp (mg/L)</td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_ob_al1" /></td>
                    <td><input class="form-control input" name="resul_ob_ca1" /></td>
                    <td><input class="form-control input" name="resul_ob_cr1" /></td>
                    <td><input class="form-control input" name="resul_ob_cu1" /></td>
                    <td><input class="form-control input" name="resul_ob_fe1" /></td>
                    <td><input class="form-control input" name="resul_ob_k1" /></td>
                    <td><input class="form-control input" name="resul_ob_mg1" /></td>
                    <td><input class="form-control input" name="resul_ob_na1" /></td>
                    <td><input class="form-control input" name="resul_ob_ni1" /></td>
                    <td><input class="form-control input" name="resul_ob_zn1" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_ob_al2" /></td>
                    <td><input class="form-control input" name="resul_ob_ca2" /></td>
                    <td><input class="form-control input" name="resul_ob_cr2" /></td>
                    <td><input class="form-control input" name="resul_ob_cu2" /></td>
                    <td><input class="form-control input" name="resul_ob_fe2" /></td>
                    <td><input class="form-control input" name="resul_ob_k2" /></td>
                    <td><input class="form-control input" name="resul_ob_mg2" /></td>
                    <td><input class="form-control input" name="resul_ob_na2" /></td>
                    <td><input class="form-control input" name="resul_ob_ni2" /></td>
                    <td><input class="form-control input" name="resul_ob_zn2" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_ob_al3" /></td>
                    <td><input class="form-control input" name="resul_ob_ca3" /></td>
                    <td><input class="form-control input" name="resul_ob_cr3" /></td>
                    <td><input class="form-control input" name="resul_ob_cu3" /></td>
                    <td><input class="form-control input" name="resul_ob_fe3" /></td>
                    <td><input class="form-control input" name="resul_ob_k3" /></td>
                    <td><input class="form-control input" name="resul_ob_mg3" /></td>
                    <td><input class="form-control input" name="resul_ob_na3" /></td>
                    <td><input class="form-control input" name="resul_ob_ni3" /></td>
                    <td><input class="form-control input" name="resul_ob_zn3" /></td>
                </tr>
            </table>
            <br />

            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td rowspan="4">Resultados Conevrtidos (mg/kg)</td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_con_al1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_ca1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_cr1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_cu1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_fe1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_k1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_mg1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_na1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_ni1" readonly /></td>
                    <td><input class="form-control input" name="resul_con_zn1" readonly /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_con_al2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_ca2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_cr2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_cu2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_fe2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_k2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_mg2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_na2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_ni2" readonly /></td>
                    <td><input class="form-control input" name="resul_con_zn2" readonly /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_con_al3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_ca3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_cr3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_cu3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_fe3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_k3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_mg3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_na3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_ni3" readonly /></td>
                    <td><input class="form-control input" name="resul_con_zn3" readonly /></td>
                </tr>
            </table>
            <br />
            <!-- FIM -->

            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central ">
                    <td colspan="11">Exoressão Resultados (mg/kg)</td>
                </tr>
                <tr class="tabela texto-central ">
                    <td><b>Elemento:</b></td>
                    <td>AI</td>
                    <td>Ca</td>
                    <td>Cr</td>
                    <td>Cu</td>
                    <td>Fe</td>
                    <td>K</td>
                    <td>Mg</td>
                    <td>Na</td>
                    <td>Ni</td>
                    <td>Zn</td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white; text-align:center"><b>LQ:</b></td>
                    <td> <input class="form-control input" value="0,03" name="ex_lq_al" readonly /> </td>
                    <td><input class="form-control input" value="0,02" name="ex_lq_ca" readonly /></td>
                    <td> <input class="form-control input" value="0,0009" name="ex_lq_cr" readonly /></td>
                    <td> <input class="form-control input" value="0,01" name="ex_lq_cu" readonly /></td>
                    <td> <input class="form-control input" value="0,02" name="ex_lq_fe" readonly /></td>
                    <td> <input class="form-control input" value="0,01" name="ex_lq_k" readonly /> </td>
                    <td> <input class="form-control input" value="0,008" name="ex_lq_mg" readonly /></td>
                    <td> <input class="form-control input" value="0,03" name="ex_lq_na" readonly /> </td>
                    <td> <input class="form-control input" value="0,008" name="ex_lq_ni" readonly /></td>
                    <td> <input class="form-control input" value="0,009" name="ex_lq_zn" readonly /></td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white; text-align:center"><b>Limite:</b></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_al" readonly /> </td>
                    <td><input class="form-control input" value="0,5" name="ex_lim_ca" readonly /></td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_cr" readonly /></td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_cu" readonly /></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_fe" readonly /></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_k" readonly /> </td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_mg" readonly /></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_na" readonly /> </td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_ni" readonly /></td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_zn" readonly /></td>
                </tr>
                <tr>
                    <td rowspan="3" style="background-color: #800000; color:white; text-align:center"><b>Quantificação:</b></td>
                    <td> <input class="form-control input" name="ex_quant_al1" readonly /> </td>
                    <td><input class="form-control input" name="ex_quant_ca1" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_cr1" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_cu1" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_fe1" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_k1" readonly /> </td>
                    <td> <input class="form-control input" name="ex_quant_mg1" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_na1" readonly /> </td>
                    <td> <input class="form-control input" name="ex_quant_ni1" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_zn1" readonly /></td>
                </tr>
                <tr>
                    <td> <input class="form-control input" name="ex_quant_al2" readonly /> </td>
                    <td><input class="form-control input" name="ex_quant_ca2" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_cr2" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_cu2" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_fe2" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_k2" readonly /> </td>
                    <td> <input class="form-control input" name="ex_quant_mg2" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_na2" readonly /> </td>
                    <td> <input class="form-control input" name="ex_quant_ni2" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_zn2" readonly /></td>
                </tr>
                <tr>
                    <td> <input class="form-control input" name="ex_quant_al3" readonly /> </td>
                    <td><input class="form-control input" name="ex_quant_ca3" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_cr3" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_cu3" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_fe3" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_k3" readonly /> </td>
                    <td> <input class="form-control input" name="ex_quant_mg3" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_na3" readonly /> </td>
                    <td> <input class="form-control input" name="ex_quant_ni3" readonly /></td>
                    <td> <input class="form-control input" name="ex_quant_zn3" readonly /></td>
                </tr>
            </table>
            <br />

            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td style="background-color: #800000; color:white; text-align:center">Resultado Final (mg/kg)</td>
                    <td> <input class="form-control input" name="result_al" readonly style="height:50px;"  /> </td>
                    <td><input class="form-control input" name="result_ca" readonly style="height:50px;" /></td>
                    <td> <input class="form-control input" name="result_cr" readonly style="height:50px;"/></td>
                    <td> <input class="form-control input" name="result_cu" readonly style="height:50px;"/></td>
                    <td> <input class="form-control input" name="result_fe" readonly style="height:50px;"/></td>
                    <td> <input class="form-control input" name="result_k" readonly style="height:50px;"/> </td>
                    <td> <input class="form-control input" name="result_mg" readonly style="height:50px;"/></td>
                    <td> <input class="form-control input" name="result_na" readonly style="height:50px;"/> </td>
                    <td> <input class="form-control input" name="result_ni" readonly style="height:50px;"/></td>
                    <td> <input class="form-control input" name="result_zn" readonly style="height:50px; " /></td>
                </tr>
                <tr>
                    <td colspan="11"> Legenda: LQ - Limite de Quantificação.</td>
                </tr>
            </table>



            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central">
                    <td colspan="3">Materiais Utilizados </td>
                </tr>
                <tr class="tabela texto-central">
                    <td>Materia-prima</td>
                    <td>Lote</td>
                    <td>Validade</td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima1" /></td>
                    <td><input class="form-control input " name="mat_lote1" /></td>
                    <td><input type="date" class="form-control input " name="mat_val1" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima2" /></td>
                    <td><input class="form-control input " name="matt_lote2" /></td>
                    <td><input type="date" class="form-control input " name="mat_val2" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima3" /></td>
                    <td><input class="form-control input " name="mat_lote3" /></td>
                    <td><input type="date" class="form-control input " name="mat_val3" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima4" /></td>
                    <td><input class="form-control input " name="mat_lote4" /></td>
                    <td><input type="date" class="form-control input " name="mat_val4" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima5" /></td>
                    <td><input class="form-control input " name="mat_lote5" /></td>
                    <td><input type="date" class="form-control input " name="mat_val5" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima6" /></td>
                    <td><input class="form-control input " name="mat_lote6" /></td>
                    <td><input type="date" class="form-control input " name="mat_val6" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima7" /></td>
                    <td><input class="form-control input " name="mat_lote7" /></td>
                    <td><input type="date" class="form-control input " name="mat_val7" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima8" /></td>
                    <td><input class="form-control input " name="mat_lote8" /></td>
                    <td><input type="date" class="form-control input " name="mat_val8" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima9" /></td>
                    <td><input class="form-control input " name="mat_lote9" /></td>
                    <td><input type="date" class="form-control input " name="mat_val9" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima10" /></td>
                    <td><input class="form-control input " name="mat_lote10" /></td>
                    <td><input type="date" class="form-control input " name="mat_val10" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima11" /></td>
                    <td><input class="form-control input " name="mat_lote11" /></td>
                    <td><input type="date" class="form-control input " name="mat_val11" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima12" /></td>
                    <td><input class="form-control input " name="mat_lote12" /></td>
                    <td><input type="date" class="form-control input " name="mat_val12" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="mat_prima13" /></td>
                    <td><input class="form-control input " name="mat_lote13" /></td>
                    <td><input type="date" class="form-control input " name="mat_val13" /></td>
                </tr>
            </table>
            <br />



            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central">
                    <td colspan="3">Código de insturmentos utilizados </td>
                </tr>
                <tr class="tabela texto-central">
                    <td>Descrição</td>
                    <td>Código</td>
                    <td>Validade</td>
                </tr>
                <tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc1" /></td>
                    <td><input class="form-control input " name="inst_cod1" /></td>
                    <td><input type="date" class="form-control input " name="inst_val1" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc2" /></td>
                    <td><input class="form-control input " name="inst_cod2" /></td>
                    <td><input type="date" class="form-control input " name="inst_val2" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc3" /></td>
                    <td><input class="form-control input " name="inst_cod3" /></td>
                    <td><input type="date" class="form-control input " name="inst_val3" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc4" /></td>
                    <td><input class="form-control input " name="inst_cod4" /></td>
                    <td><input type="date" class="form-control input " name="inst_val4" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc5" /></td>
                    <td><input class="form-control input " name="inst_cod5" /></td>
                    <td><input type="date" class="form-control input " name="inst_val5" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc6" /></td>
                    <td><input class="form-control input " name="inst_cod6" /></td>
                    <td><input type="date" class="form-control input " name="inst_val6" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc7" /></td>
                    <td><input class="form-control input " name="inst_cod7" /></td>
                    <td><input type="date" class="form-control input " name="inst_val7" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc8" /></td>
                    <td><input class="form-control input " name="inst_cod8" /></td>
                    <td><input type="date" class="form-control input " name="inst_val8" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc9" /></td>
                    <td><input class="form-control input " name="inst_cod9" /></td>
                    <td><input type="date" class="form-control input " name="inst_val9" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc10" /></td>
                    <td><input class="form-control input " name="inst_cod10" /></td>
                    <td><input type="date" class="form-control input " name="inst_val10" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc11" /></td>
                    <td><input class="form-control input " name="inst_cod11" /></td>
                    <td><input type="date" class="form-control input " name="inst_val11" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_dec12" /></td>
                    <td><input class="form-control input " name="inst_cod12" /></td>
                    <td><input type="date" class="form-control input " name="inst_val12" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc13" /></td>
                    <td><input class="form-control input " name="inst_cod13" /></td>
                    <td><input type="date" class="form-control input " name="inst_val13" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="inst_desc14" /></td>
                    <td><input class="form-control input " name="inst_cod14" /></td>
                    <td><input type="date" class="form-control input " name="inst_val14" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc15"  /></td>
                    <td><input type="text" class="form-control input " name="inst_cod15" /></td>
                    <td><input type="date" class="form-control input " name="inst_val15"  /></td>
            </table>
            <br />


            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela  texto-central">
                    <td colspan="4">Equipamento e Dispositivos:</td>
                </tr>
                <tr>
                    <td class="texto-central">DE:</td>
                    <td><input class="form-control input " name="equi_de" /></td>
                </tr>
                <tr>
                    <td class="texto-central">EE:</td>
                    <td><input class="form-control input " name="equi_ee" /></td>
                </tr>
            </table>
            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td colspan="4">Observações</td>
                </tr>
                <tr>
                    <td><textarea class="form-control input" name="observacoes"></textarea></td>
                </tr>
            </table>
            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td colspan="1">Executado Por:</td>
                    <td colspan="2">Auxiliado Por:</td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="executado" /></td>
                    <td><input class="form-control input " name="auxiliado" /></td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar Coleta</button>
            </div>
        }
        else
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="7" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :</td>
                </tr>
                <tr class="tabela">
                    <td colspan="7" class="texto-central "> ENSAIO DE ARLA 32</td>
                    @*       <td> <input class="form-control input " style="height:10px; border:none;" name="os" readonly /></td> *@
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;" colspan="2">Data Inicio:</td>
                    <td colspan="1"><input class="form-control input " type="text" style="height:50px; border:none;" name="data_ini" value="@Model.arlaMetais.data_ini.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Data Término:</td>
                    <td colspan="2"><input class="form-control input " type="text" style="height:50px; border:none;" name="data_term" value="@Model.arlaMetais.data_term.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="2"> <input class="form-control input " style="height:50px; border:none;" name="os" value="@ViewBag.OS" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="9">
                        <b>Ensaio a ser realizado:</b> Determinação da conc (AlCaCr CuFe K Mg NaNi Zn) pelo método ICP-OES - Anexo I - IT.123-Q
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Norma: ABNT NBR ISO 22241-2
                    </td>
                    <td colspan="6">
                        <input class="form-control input " name="norma" value="@Model.arlaMetais.norma" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Np:</td>
                    <td colspan="6">
                        <input class="form-control input " name="np" value="@Model.arlaMetais.np" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Descrição:</td>
                    <td colspan="6">
                        <input class="form-control input " name="descricao" value="@Model.arlaMetais.descricao" />
                    </td>
                </tr>
                <tr class="tabela texto-central">
                    <td colspan="9"> Conversão dos Resultados</td>
                </tr>
            </table>
            <Br />


            <!-- para salvar na tabela de tratamento-->
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central">
                    <td>Elemento:</td>
                    <td>AI</td>
                    <td>Ca</td>
                    <td>Cr</td>
                    <td>Cu</td>
                    <td>Fe</td>
                    <td>K</td>
                    <td>Mg</td>
                    <td>Na</td>
                    <td>Ni</td>
                    <td>Zn</td>
                </tr>
                <tr>
                    <td class="texto-central">Branco:</td>
                    <td><input class="form-control input" name="branco_al" value="@Model.metaisTratamento.branco_al" /></td>
                    <td><input class="form-control input" name="branco_ca" value="@Model.metaisTratamento.branco_ca" /></td>
                    <td><input class="form-control input" name="branco_cr" value="@Model.metaisTratamento.branco_cr" /></td>
                    <td><input class="form-control input" name="branco_cu" value="@Model.metaisTratamento.branco_cu" /></td>
                    <td><input class="form-control input" name="branco_fe" value="@Model.metaisTratamento.branco_fe" /></td>
                    <td><input class="form-control input" name="branco_k" value="@Model.metaisTratamento.branco_k" /></td>
                    <td><input class="form-control input" name="branco_mg" value="@Model.metaisTratamento.branco_mg" /></td>
                    <td><input class="form-control input" name="branco_na" value="@Model.metaisTratamento.branco_na" /></td>
                    <td><input class="form-control input" name="branco_ni" value="@Model.metaisTratamento.branco_ni" /></td>
                    <td><input class="form-control input" name="branco_zn" value="@Model.metaisTratamento.branco_zn" /></td>
                </tr>
            </table>
            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td rowspan="4">Resultados obtidos pelo Icp (mg/L)</td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_ob_al1" value="@Model.metaisTratamento.resul_ob_al1" /></td>
                    <td><input class="form-control input" name="resul_ob_ca1" value="@Model.metaisTratamento.resul_ob_ca1" /></td>
                    <td><input class="form-control input" name="resul_ob_cr1" value="@Model.metaisTratamento.resul_ob_cr1" /></td>
                    <td><input class="form-control input" name="resul_ob_cu1" value="@Model.metaisTratamento.resul_ob_cu1" /></td>
                    <td><input class="form-control input" name="resul_ob_fe1" value="@Model.metaisTratamento.resul_ob_fe1" /></td>
                    <td><input class="form-control input" name="resul_ob_k1" value="@Model.metaisTratamento.resul_ob_k1" /></td>
                    <td><input class="form-control input" name="resul_ob_mg1" value="@Model.metaisTratamento.resul_ob_mg1" /></td>
                    <td><input class="form-control input" name="resul_ob_na1" value="@Model.metaisTratamento.resul_ob_na1" /></td>
                    <td><input class="form-control input" name="resul_ob_ni1" value="@Model.metaisTratamento.resul_ob_ni1" /></td>
                    <td><input class="form-control input" name="resul_ob_zn1" value="@Model.metaisTratamento.resul_ob_zn1" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_ob_al2" value="@Model.metaisTratamento.resul_ob_al2" /></td>
                    <td><input class="form-control input" name="resul_ob_ca2" value="@Model.metaisTratamento.resul_ob_ca2" /></td>
                    <td><input class="form-control input" name="resul_ob_cr2" value="@Model.metaisTratamento.resul_ob_cr2" /></td>
                    <td><input class="form-control input" name="resul_ob_cu2" value="@Model.metaisTratamento.resul_ob_cu2" /></td>
                    <td><input class="form-control input" name="resul_ob_fe2" value="@Model.metaisTratamento.resul_ob_fe2" /></td>
                    <td><input class="form-control input" name="resul_ob_k2" value="@Model.metaisTratamento.resul_ob_k2" /></td>
                    <td><input class="form-control input" name="resul_ob_mg2" value="@Model.metaisTratamento.resul_ob_mg2" /></td>
                    <td><input class="form-control input" name="resul_ob_na2" value="@Model.metaisTratamento.resul_ob_na2" /></td>
                    <td><input class="form-control input" name="resul_ob_ni2" value="@Model.metaisTratamento.resul_ob_ni2" /></td>
                    <td><input class="form-control input" name="resul_ob_zn2" value="@Model.metaisTratamento.resul_ob_zn2" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_ob_al3" value="@Model.metaisTratamento.resul_ob_al3" /></td>
                    <td><input class="form-control input" name="resul_ob_ca3" value="@Model.metaisTratamento.resul_ob_ca3" /></td>
                    <td><input class="form-control input" name="resul_ob_cr3" value="@Model.metaisTratamento.resul_ob_cr3" /></td>
                    <td><input class="form-control input" name="resul_ob_cu3" value="@Model.metaisTratamento.resul_ob_cu3" /></td>
                    <td><input class="form-control input" name="resul_ob_fe3" value="@Model.metaisTratamento.resul_ob_fe3" /></td>
                    <td><input class="form-control input" name="resul_ob_k3" value="@Model.metaisTratamento.resul_ob_k3" /></td>
                    <td><input class="form-control input" name="resul_ob_mg3" value="@Model.metaisTratamento.resul_ob_mg3" /></td>
                    <td><input class="form-control input" name="resul_ob_na3" value="@Model.metaisTratamento.resul_ob_na3" /></td>
                    <td><input class="form-control input" name="resul_ob_ni3" value="@Model.metaisTratamento.resul_ob_ni3" /></td>
                    <td><input class="form-control input" name="resul_ob_zn3" value="@Model.metaisTratamento.resul_ob_zn3" /></td>
                </tr>
            </table>
            <br />

            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td rowspan="4">Resultados Conevrtidos (mg/kg)</td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_con_al1" readonly value="@Model.metaisTratamento.resul_con_al1" /></td>
                    <td><input class="form-control input" name="resul_con_ca1" readonly value="@Model.metaisTratamento.resul_con_ca1" /></td>
                    <td><input class="form-control input" name="resul_con_cr1" readonly value="@Model.metaisTratamento.resul_con_cr1" /></td>
                    <td><input class="form-control input" name="resul_con_cu1" readonly value="@Model.metaisTratamento.resul_con_cu1" /></td>
                    <td><input class="form-control input" name="resul_con_fe1" readonly value="@Model.metaisTratamento.resul_con_fe1" /></td>
                    <td><input class="form-control input" name="resul_con_k1" readonly value="@Model.metaisTratamento.resul_con_k1" /></td>
                    <td><input class="form-control input" name="resul_con_mg1" readonly value="@Model.metaisTratamento.resul_con_mg1" /></td>
                    <td><input class="form-control input" name="resul_con_na1" readonly value="@Model.metaisTratamento.resul_con_na1" /></td>
                    <td><input class="form-control input" name="resul_con_ni1" readonly value="@Model.metaisTratamento.resul_con_ni1" /></td>
                    <td><input class="form-control input" name="resul_con_zn1" readonly value="@Model.metaisTratamento.resul_con_zn1" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_con_al2" readonly value="@Model.metaisTratamento.resul_con_al2" /></td>
                    <td><input class="form-control input" name="resul_con_ca2" readonly value="@Model.metaisTratamento.resul_con_ca2" /></td>
                    <td><input class="form-control input" name="resul_con_cr2" readonly value="@Model.metaisTratamento.resul_con_cr2" /></td>
                    <td><input class="form-control input" name="resul_con_cu2" readonly value="@Model.metaisTratamento.resul_con_cu2" /></td>
                    <td><input class="form-control input" name="resul_con_fe2" readonly value="@Model.metaisTratamento.resul_con_fe2" /></td>
                    <td><input class="form-control input" name="resul_con_k2" readonly value="@Model.metaisTratamento.resul_con_k2" /></td>
                    <td><input class="form-control input" name="resul_con_mg2" readonly value="@Model.metaisTratamento.resul_con_mg2" /></td>
                    <td><input class="form-control input" name="resul_con_na2" readonly value="@Model.metaisTratamento.resul_con_na2" /></td>
                    <td><input class="form-control input" name="resul_con_ni2" readonly value="@Model.metaisTratamento.resul_con_ni2" /></td>
                    <td><input class="form-control input" name="resul_con_zn2" readonly value="@Model.metaisTratamento.resul_con_zn2" /></td>
                </tr>
                <tr>
                    <td><input class="form-control input" name="resul_con_al3" readonly value="@Model.metaisTratamento.resul_con_al3" /></td>
                    <td><input class="form-control input" name="resul_con_ca3" readonly value="@Model.metaisTratamento.resul_con_ca3" /></td>
                    <td><input class="form-control input" name="resul_con_cr3" readonly value="@Model.metaisTratamento.resul_con_cr3" /></td>
                    <td><input class="form-control input" name="resul_con_cu3" readonly value="@Model.metaisTratamento.resul_con_cu3" /></td>
                    <td><input class="form-control input" name="resul_con_fe3" readonly value="@Model.metaisTratamento.resul_con_fe3" /></td>
                    <td><input class="form-control input" name="resul_con_k3" readonly value="@Model.metaisTratamento.resul_con_k3" /></td>
                    <td><input class="form-control input" name="resul_con_mg3" readonly value="@Model.metaisTratamento.resul_con_mg3" /></td>
                    <td><input class="form-control input" name="resul_con_na3" readonly value="@Model.metaisTratamento.resul_con_na3" /></td>
                    <td><input class="form-control input" name="resul_con_ni3" readonly value="@Model.metaisTratamento.resul_con_ni3" /></td>
                    <td><input class="form-control input" name="resul_con_zn3" readonly value="@Model.metaisTratamento.resul_con_zn3" /></td>
                </tr>
            </table>
            <br />
            <!-- FIM -->

            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central ">
                    <td colspan="11">Exoressão Resultados (mg/kg)</td>
                </tr>
                <tr class="tabela texto-central ">
                    <td><b>Elemento:</b></td>
                    <td>AI</td>
                    <td>Ca</td>
                    <td>Cr</td>
                    <td>Cu</td>
                    <td>Fe</td>
                    <td>K</td>
                    <td>Mg</td>
                    <td>Na</td>
                    <td>Ni</td>
                    <td>Zn</td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white; text-align:center"><b>LQ:</b></td>
                    <td> <input class="form-control input" value="0,03" name="ex_lq_al" readonly /> </td>
                    <td><input class="form-control input" value="0,02" name="ex_lq_ca" readonly /></td>
                    <td> <input class="form-control input" value="0,0009" name="ex_lq_cr" readonly /></td>
                    <td> <input class="form-control input" value="0,01" name="ex_lq_cu" readonly /></td>
                    <td> <input class="form-control input" value="0,02" name="ex_lq_fe" readonly /></td>
                    <td> <input class="form-control input" value="0,01" name="ex_lq_k" readonly /> </td>
                    <td> <input class="form-control input" value="0,008" name="ex_lq_mg" readonly /></td>
                    <td> <input class="form-control input" value="0,03" name="ex_lq_na" readonly /> </td>
                    <td> <input class="form-control input" value="0,008" name="ex_lq_ni" readonly /></td>
                    <td> <input class="form-control input" value="0,009" name="ex_lq_zn" readonly /></td>
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white; text-align:center"><b>Limite:</b></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_al" readonly /> </td>
                    <td><input class="form-control input" value="0,5" name="ex_lim_ca" readonly /></td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_cr" readonly /></td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_cu" readonly /></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_fe" readonly /></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_k" readonly /> </td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_mg" readonly /></td>
                    <td> <input class="form-control input" value="0,5" name="ex_lim_na" readonly /> </td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_ni" readonly /></td>
                    <td> <input class="form-control input" value="0,2" name="ex_lim_zn" readonly /></td>
                </tr>
                <tr>
                    <td rowspan="3" style="background-color: #800000; color:white; text-align:center"><b>Quantificação:</b></td>
                    <td> <input class="form-control input" name="ex_quant_al1" readonly value="@Model.arlaMetais.ex_quant_al1" /> </td>
                    <td><input class="form-control input" name="ex_quant_ca1" readonly value="@Model.arlaMetais.ex_quant_ca1" /></td>
                    <td> <input class="form-control input" name="ex_quant_cr1" readonly value="@Model.arlaMetais.ex_quant_cr1" /></td>
                    <td> <input class="form-control input" name="ex_quant_cu1" readonly value="@Model.arlaMetais.ex_quant_cu1" /></td>
                    <td> <input class="form-control input" name="ex_quant_fe1" readonly value="@Model.arlaMetais.ex_quant_fe1" /></td>
                    <td> <input class="form-control input" name="ex_quant_k1" readonly value="@Model.arlaMetais.ex_quant_k1" /> </td>
                    <td> <input class="form-control input" name="ex_quant_mg1" readonly value="@Model.arlaMetais.ex_quant_mg1" /></td>
                    <td> <input class="form-control input" name="ex_quant_na1" readonly value="@Model.arlaMetais.ex_quant_na1" /> </td>
                    <td> <input class="form-control input" name="ex_quant_ni1" readonly value="@Model.arlaMetais.ex_quant_ni1" /></td>
                    <td> <input class="form-control input" name="ex_quant_zn1" readonly value="@Model.arlaMetais.ex_quant_zn1" /></td>
                </tr>
                <tr>
                    <td> <input class="form-control input" name="ex_quant_al2" readonly value="@Model.arlaMetais.ex_quant_al2" /> </td>
                    <td><input class="form-control input" name="ex_quant_ca2" readonly value="@Model.arlaMetais.ex_quant_ca2" /></td>
                    <td> <input class="form-control input" name="ex_quant_cr2" readonly value="@Model.arlaMetais.ex_quant_cr2" /></td>
                    <td> <input class="form-control input" name="ex_quant_cu2" readonly value="@Model.arlaMetais.ex_quant_cu2" /></td>
                    <td> <input class="form-control input" name="ex_quant_fe2" readonly value="@Model.arlaMetais.ex_quant_fe2" /></td>
                    <td> <input class="form-control input" name="ex_quant_k2" readonly value="@Model.arlaMetais.ex_quant_k2" /> </td>
                    <td> <input class="form-control input" name="ex_quant_mg2" readonly value="@Model.arlaMetais.ex_quant_mg2" /></td>
                    <td> <input class="form-control input" name="ex_quant_na2" readonly value="@Model.arlaMetais.ex_quant_na2" /> </td>
                    <td> <input class="form-control input" name="ex_quant_ni2" readonly value="@Model.arlaMetais.ex_quant_ni2" /></td>
                    <td> <input class="form-control input" name="ex_quant_zn2" readonly value="@Model.arlaMetais.ex_quant_zn2" /></td>
                </tr>
                <tr>
                    <td> <input class="form-control input" name="ex_quant_al3" readonly value="@Model.arlaMetais.ex_quant_al3" /> </td>
                    <td><input class="form-control input" name="ex_quant_ca3" readonly value="@Model.arlaMetais.ex_quant_ca3" /></td>
                    <td> <input class="form-control input" name="ex_quant_cr3" readonly value="@Model.arlaMetais.ex_quant_cr3" /></td>
                    <td> <input class="form-control input" name="ex_quant_cu3" readonly value="@Model.arlaMetais.ex_quant_cu3" /></td>
                    <td> <input class="form-control input" name="ex_quant_fe3" readonly value="@Model.arlaMetais.ex_quant_fe3" /></td>
                    <td> <input class="form-control input" name="ex_quant_k3" readonly value="@Model.arlaMetais.ex_quant_k3" /> </td>
                    <td> <input class="form-control input" name="ex_quant_mg3" readonly value="@Model.arlaMetais.ex_quant_mg3" /></td>
                    <td> <input class="form-control input" name="ex_quant_na3" readonly value="@Model.arlaMetais.ex_quant_na3" /> </td>
                    <td> <input class="form-control input" name="ex_quant_ni3" readonly value="@Model.arlaMetais.ex_quant_ni3" /></td>
                    <td> <input class="form-control input" name="ex_quant_zn3" readonly value="@Model.arlaMetais.ex_quant_zn3" /></td>
                </tr>
            </table>
            <br />

            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td style="background-color: #800000; color:white; text-align:center">Resultado Final (mg/kg)</td>
                    <td> <input class="form-control input" name="result_al" readonly value="@Model.arlaMetais.result_al" style="height:50px;"/> </td>
                    <td><input class="form-control input" name="result_ca" readonly value="@Model.arlaMetais.result_ca"    style="height:50px;"/></td>
                <td> <input class="form-control input" name="result_cr" readonly value="@Model.arlaMetais.result_cr" style="height:50px;" /></td>
                <td> <input class="form-control input" name="result_cu" readonly value="@Model.arlaMetais.result_cu"  style="height:50px;"/></td>
                <td> <input class="form-control input" name="result_fe" readonly value="@Model.arlaMetais.result_fe"   style="height:50px;"/></td>
                <td> <input class="form-control input" name="result_k" readonly value="@Model.arlaMetais.result_k" style="height:50px;" /> </td>
                <td> <input class="form-control input" name="result_mg" readonly value="@Model.arlaMetais.result_mg"    style="height:50px;"/></td>
                <td> <input class="form-control input" name="result_na" readonly value="@Model.arlaMetais.result_na"  style="height:50px;"/> </td>
                <td> <input class="form-control input" name="result_ni" readonly value="@Model.arlaMetais.result_ni"    style="height:50px;"/></td>
                    <td> <input class="form-control input" name="result_zn" readonly value="@Model.arlaMetais.result_zn" style="height:50px;" /></td>
            </tr>
            <tr>
                <td colspan="11"> Legenda: LQ - Limite de Quantificação.</td>
                </tr>
            </table>



            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central">
                    <td colspan="3">Materiais Utilizados </td>
                </tr>
                <tr class="tabela texto-central">
                    <td>Materia-prima</td>
                    <td>Lote</td>
                    <td>Validade</td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima1" value="@Model.arlaMetais.mat_prima1" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote1" value="@Model.arlaMetais.mat_lote1" /></td>
                    <td><input type="text" class="form-control input " name="mat_val1" value="@Model.arlaMetais.mat_val1.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima2" value="@Model.arlaMetais.mat_prima2" /></td>
                    <td><input type="text" class="form-control input " name="matt_lote2" value="@Model.arlaMetais.matt_lote2" /></td>
                    <td><input type="text" class="form-control input " name="mat_val2" value="@Model.arlaMetais.mat_val1.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima3" value="@Model.arlaMetais.mat_prima3" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote3" value="@Model.arlaMetais.mat_lote3" /></td>
                    <td><input type="text" class="form-control input " name="mat_val3" value="@Model.arlaMetais.mat_val3.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima4" value="@Model.arlaMetais.mat_prima4" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote4" value="@Model.arlaMetais.mat_lote4" /></td>
                    <td><input type="text" class="form-control input " name="mat_val4" value="@Model.arlaMetais.mat_val4.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima5" value="@Model.arlaMetais.mat_prima5" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote5" value="@Model.arlaMetais.mat_lote5" /></td>
                    <td><input type="text" class="form-control input " name="mat_val5" value="@Model.arlaMetais.mat_val5.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text"class="form-control input " name="mat_prima6" value="@Model.arlaMetais.mat_prima6" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote6" value="@Model.arlaMetais.mat_lote6" /></td>
                    <td><input type="text" class="form-control input " name="mat_val6" value="@Model.arlaMetais.mat_val6.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima7" value="@Model.arlaMetais.mat_prima7" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote7" value="@Model.arlaMetais.mat_lote7" /></td>
                    <td><input type="text" class="form-control input " name="mat_val7" value="@Model.arlaMetais.mat_val7.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima8" value="@Model.arlaMetais.mat_prima8" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote8" value="@Model.arlaMetais.mat_lote8" /></td>
                    <td><input type="text" class="form-control input " name="mat_val8" value="@Model.arlaMetais.mat_val8.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima9" value="@Model.arlaMetais.mat_prima9" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote9" value="@Model.arlaMetais.mat_lote9" /></td>
                    <td><input type="text" class="form-control input " name="mat_val9" value="@Model.arlaMetais.mat_val9.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima10" value="@Model.arlaMetais.mat_prima10" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote10" value="@Model.arlaMetais.mat_lote10" /></td>
                    <td><input type="text" class="form-control input " name="mat_val10" value="@Model.arlaMetais.mat_val10.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima11" value="@Model.arlaMetais.mat_prima11"/></td>
                    <td><input type="text" class="form-control input " name="mat_lote11" value="@Model.arlaMetais.mat_lote11" /></td>
                    <td><input type="text" class="form-control input " name="mat_val11" value="@Model.arlaMetais.mat_val11.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima12" value="@Model.arlaMetais.mat_prima12" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote12" value="@Model.arlaMetais.mat_lote12" /></td>
                    <td><input type="text" class="form-control input " name="mat_val12" value="@Model.arlaMetais.mat_val12.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="mat_prima13" value="@Model.arlaMetais.mat_prima13" /></td>
                    <td><input type="text" class="form-control input " name="mat_lote13" value="@Model.arlaMetais.mat_lote13" /></td>
                    <td><input type="text" class="form-control input " name="mat_val13" value="@Model.arlaMetais.mat_val13.ToString("dd/MM/yyyy")" /></td>
                </tr>
            </table>
            <br />

            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela texto-central">
                    <td colspan="3">Código de insturmentos utilizados </td>
                </tr>
                <tr class="tabela texto-central">
                    <td>Descrição</td>
                    <td>Código</td>
                    <td>Validade</td>
                </tr>
                <tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc1" value="@Model.arlaMetais.inst_desc1" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod1" value="@Model.arlaMetais.inst_cod1" /></td>
                    <td><input type="text" class="form-control input " name="inst_val1" value="@Model.arlaMetais.inst_val1.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc2" value="@Model.arlaMetais.inst_desc2" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod2" value="@Model.arlaMetais.inst_cod2" /></td>
                    <td><input type="text" class="form-control input " name="inst_val2" value="@Model.arlaMetais.inst_val2.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc3" value="@Model.arlaMetais.inst_desc3" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod3" value="@Model.arlaMetais.inst_cod3" /></td>
                    <td><input type="text" class="form-control input " name="inst_val3" value="@Model.arlaMetais.inst_val3.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc4" value="@Model.arlaMetais.inst_desc4" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod4" value="@Model.arlaMetais.inst_cod4" /></td>
                    <td><input type="text" class="form-control input " name="inst_val4" value="@Model.arlaMetais.inst_val4.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc5" value="@Model.arlaMetais.inst_desc5" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod5" value="@Model.arlaMetais.inst_cod5" /></td>
                    <td><input type="text" class="form-control input " name="inst_val5" value="@Model.arlaMetais.inst_val5.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc6" value="@Model.arlaMetais.inst_desc6" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod6" value="@Model.arlaMetais.inst_cod6" /></td>
                    <td><input type="text" class="form-control input " name="inst_val6" value="@Model.arlaMetais.inst_val6.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc7" value="@Model.arlaMetais.inst_desc7" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod7" value="@Model.arlaMetais.inst_cod7" /></td>
                    <td><input type="text" class="form-control input " name="inst_val7" value="@Model.arlaMetais.inst_val7.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text"  class="form-control input " name="inst_desc8" value="@Model.arlaMetais.inst_desc8"/></td>
                    <td><input type="text"  class="form-control input " name="inst_cod8" value="@Model.arlaMetais.inst_cod8" /></td>
                    <td><input type="text" class="form-control input " name="inst_val8" value="@Model.arlaMetais.inst_val8.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc9" value="@Model.arlaMetais.inst_desc9" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod9" value="@Model.arlaMetais.inst_cod9" /></td>
                    <td><input type="text" class="form-control input " name="inst_val9" value="@Model.arlaMetais.inst_val9.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc10" value="@Model.arlaMetais.inst_desc10"/></td>
                    <td><input type="text" class="form-control input " name="inst_cod10" value="@Model.arlaMetais.inst_cod10" /></td>
                    <td><input type="text" class="form-control input " name="inst_val10" value="@Model.arlaMetais.inst_val10.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc11" value="@Model.arlaMetais.inst_desc11" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod11" value="@Model.arlaMetais.inst_cod11" /></td>
                    <td><input type="text" class="form-control input " name="inst_val11" value="@Model.arlaMetais.inst_val11.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_dec12" value="@Model.arlaMetais.inst_dec12" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod12" value="@Model.arlaMetais.inst_cod12" /></td>
                    <td><input type="text" class="form-control input " name="inst_val12" value="@Model.arlaMetais.inst_val12.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc13" value="@Model.arlaMetais.inst_desc13" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod13" value="@Model.arlaMetais.inst_cod13" /></td>
                    <td><input type="text" class="form-control input " name="inst_val13" value="@Model.arlaMetais.inst_val13.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc14" value="@Model.arlaMetais.inst_desc14" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod14" value="@Model.arlaMetais.inst_cod14" /></td>
                    <td><input type="text" class="form-control input " name="inst_val14" value="@Model.arlaMetais.inst_val14.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="inst_desc14" value="@Model.arlaMetais.inst_desc15" /></td>
                    <td><input type="text" class="form-control input " name="inst_cod14" value="@Model.arlaMetais.inst_cod15" /></td>
                    <td><input type="text" class="form-control input " name="inst_val14" value="@Model.arlaMetais.inst_val15.ToString("dd/MM/yyyy")" /></td>
                </tr>
            </table>
            <br />


            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela  texto-central">
                    <td colspan="4">Equipamento e Dispositivos:</td>
                </tr>
                <tr>
                    <td class="texto-central">DE:</td>
                    <td><input class="form-control input " name="equi_de" value="@Model.arlaMetais.equi_de" /></td>
                </tr>
                <tr>
                    <td class="texto-central">EE:</td>
                    <td><input class="form-control input " name="equi_ee" value="@Model.arlaMetais.equi_ee" /></td>
                </tr>
            </table>
            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td colspan="4">Observações</td>
                </tr>
                <tr>
                    <td><textarea class="form-control input" name="observacoes">@Model.arlaMetais.observacoes</textarea></td>
                </tr>
            </table>
            <br />
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td colspan="1">Executado Por:</td>
                    <td colspan="2">Auxiliado Por:</td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="executado" value="@Model.arlaMetais.executado"/></td>
                    <td><input class="form-control input " name="auxiliado" value="@Model.arlaMetais.auxiliado" /></td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Coleta</button>
            </div>
        }
    </form>
    @section Scripts {
        @if (TempData.ContainsKey("Mensagem"))
        {
            <script>

                alert('@Html.Raw(TempData["Mensagem"])');
            </script>
        }


    }
</body>
</html>
