@model ColetaModel.ArlaInsoluveis
@{
    ViewData["Title"] = "Coleta De Concentração";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarInsoluveis" asp-route-os="@ViewData["OS"]" asp-route-orcamento="@ViewData["orcamento"]">
        @if (Model == null)
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="7" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :</td>
                </tr>
                <tr class="tabela">
                    <td colspan="7" class="texto-central "> ENSAIO DE ARLA 32</td>
                    @*       <td> <input class="form-control input " style="height:10px; border:none;" name="os" readonly /></td> *@
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;" colspan="2">Data Inicio:</td>
                    <td colspan="1"><input class="form-control input " type="date" style="height:50px; border:none;" name="data_ini" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Data Término:</td>
                    <td colspan="2"><input class="form-control input " type="date" style="height:50px; border:none;" name="data_term" /></td>
                    <td colspan="2"> <input class="form-control input " style="height:50px; border:none;" name="os" value="@ViewBag.OS" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="9">
                        <b>Ensaio a ser realizado:</b> Determinação da concentração de Insoluveis pelo método gravimétrico - Anexo G - IT.121-Q
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Norma: ABNT NBR ISO 22241-2
                    </td>
                    <td colspan="6">
                        <input class="form-control input " type="text" name="norma" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Np:</td>
                    <td colspan="6">
                        <input class="form-control input " type="text" name="np" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Descrição:</td>
                    <td colspan="6">
                        <input class="form-control input " type="text" name="descricao" />
                    </td>
                </tr>
                <tr class="tabela">
                    <td colspan="9"></td>
                </tr>
            </table>
            <Br />



            <!--  Segudna tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="4" class="texto-central">Preparação de filtro</td>
                </tr>
                <tr class="tabela">
                    <td colspan="1"> Item </td>
                    <td colspan="1"> Placa de petri vazio (mg)</td>
                    <td colspan="1"> Placa com filtro seco (mg)</td>
                    <td colspan="1"> Massa do filtro seco (mg)</td>
                </tr>
                <tr>
                <tr>
                    <td> Massa 01</td>
                    <td><input class="form-control input " type="text" name="preparacao_placa1" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_filtro1" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_massa1" readonly /></td>
                </tr>
                <tr>
                    <td> Massa 02</td>
                    <td><input class="form-control input " type="text" name="preparacao_placa2" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_filtro2" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_massa2" readonly /></td>

                </tr>
            </table>
            <br />

            <!--  Terceira tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Procedimento de pesagem da amostra</td>
                </tr>
                <tr class="tabela">
                    <td colspan="1" rowspan="2"> Item </td>
                    <td colspan="1" rowspan="2"> Amostra (g)</td>
                    <td colspan="1" rowspan="2"> Placa+filtro seco+amostra(mg)</td>
                    <td colspan="1" rowspan="2"> Filtro seco + amostra (mg)</td>
                    <td colspan="1" rowspan="2"> Resultaado individual (mg)</td>
                    <td colspan="1" rowspan="2"> Média (%)</td>
                    <td colspan="1" rowspan="2"> Resultado final Máx. 20 mg/kg</td>
                </tr>
                <tr>
                <tr>
                    <td colspan="1"> Massa 01</td>
                    <td><input class="form-control input " type="text" name="pesagem_amostra1" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_placa1" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_filtro1" readonly /></td>
                    <td><input class="form-control input " type="text" name="pesagem_resultado1" readonly /></td>
                    <td rowspan="2"><input class="form-control input" style="height:100px" readonly name="pesagem_media" /></td>
                    <td rowspan="2"><input class="form-control input " style="height:100px" readonly name="pesagem_resultfinal" /></td>
                </tr>
                <tr>
                    <td> Massa 02</td>
                    <td><input class="form-control input " type="text" name="pesagem_amostra2" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_placa2" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_filtro2" readonly /></td>
                    <td><input class="form-control input " type="text" name="pesagem_resultado2" readonly /></td>

                </tr>
            </table>
            <br />
            <p style="text-align:center"> <strong>Nota:</strong> Se a diferença entre os resultados individuais forem maior que 25% do maior valor, a determinação deve ser repetida.</p>

            <!--  Quarta tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="5" class="texto-central">Materiais Utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3" class="texto-central">Matéria prima</td>
                    <td colspan="1" class="texto-central">Lote</td>
                    <td colspan="1" class="texto-central">Validade</td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="mat_prima1" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="mat_lote1" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="mat_validade1" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="mat_prima2" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="mat_lote2" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="mat_validade2" /></td>
                </tr>
            </table>
            <br />


            <!--Sextaa Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="10" class="texto-central">Código de instrumentos utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3">Descrição</td>
                    <td colspan="1"> Códigp </td>
                    <td colspan="1">Validade</td>
                    <td colspan="3"> Descrição </td>
                    <td colspan="1">Código</td>
                    <td colspan="1">Validade</td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc1" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod1" /></td>
                    <td colspan="1"><input type="date" class="form-control input " type="text" name="inst_validade1" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc1_1" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod1_1" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade1_1" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc2" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod2" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade2" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc2_2" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod2_2" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade2_2" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc3" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod3" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade3" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc3_3" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod3_3" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade3_3" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc4" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod4" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade4" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc4_4" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod4_4" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade4_4" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc5" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod5" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade5" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc5_5" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod5_5" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="inst_validade5_5" /></td>
                </tr>
            </table>
            <br />

            <!--Setima Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Equipamentos e Dispositivos: </td>
                </tr>
                <tr>
                    <td colspan="1">DE</td>
                    <td colspan="7"><input class="form-control input " type="text" name="equi_de" /></td>
                </tr>
                <tr>
                    <td colspan="1">EE</td>
                    <td colspan="7"><input class="form-control input " type="text" name="equi_ee" /></td>
                </tr>
            </table>
            <br />

            <!--Oitava Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td>Observações</td>
                </tr>
                <tr>
                    <td rowspan="2"><textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" style="border:none" name="observacoes"></textarea></td>
                </tr>
            </table>
            <br />

            <!--Nona Tabela-->

            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="2">Executado por:</td>
                    <td colspan="2">Auxiliado por:</td>
                </tr>
                <tr>
                    <td colspan="2"><input class="form-control input " type="text" name="executado" /></td>
                    <td colspan="2"><input class="form-control input " type="text" name="auxiliado" /></td>
                </tr>
            </table>
            <br />

            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar Coleta</button>
            </div>
        }
        else
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="7" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :</td>
                </tr>
                <tr class="tabela">
                    <td colspan="7" class="texto-central "> ENSAIO DE ARLA 32</td>
                    @*       <td> <input class="form-control input " style="height:10px; border:none;" name="os" readonly /></td> *@
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;" colspan="2">Data Inicio:</td>
                    <td colspan="1"><input class="form-control input " type="text" style="height:50px; border:none;" name="data_ini" value="@Model.data_ini.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Data Término:</td>
                    <td colspan="2"><input class="form-control input " type="text" style="height:50px; border:none;" name="data_term" value="@Model.data_term.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="2"> <input class="form-control input " style="height:50px; border:none;" name="os" value="@ViewBag.OS" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="9">
                        <b>Ensaio a ser realizado:</b> Determinação da concentração de Insoluveis pelo método gravimétrico - Anexo G - IT.121-Q
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Norma: ABNT NBR ISO 22241-2
                    </td>
                    <td colspan="6">
                        <input class="form-control input " type="text" name="norma" value="@Model.norma" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Np:</td>
                    <td colspan="6">
                        <input class="form-control input " type="text" name="np" value="@Model.np" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Descrição:</td>
                    <td colspan="6">
                        <input class="form-control input " type="text" name="descricao" value="@Model.descricao" />
                    </td>
                </tr>
                <tr class="tabela">
                    <td colspan="9"></td>
                </tr>
            </table>
            <Br />



            <!--  Segudna tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="4" class="texto-central">Preparação de filtro</td>
                </tr>
                <tr class="tabela">
                    <td colspan="1"> Item </td>
                    <td colspan="1"> Placa de petri vazio (mg)</td>
                    <td colspan="1"> Placa com filtro seco (mg)</td>
                    <td colspan="1"> Massa do filtro seco (mg)</td>
                </tr>
                <tr>
                <tr>
                    <td> Massa 01</td>
                    <td><input class="form-control input " type="text" name="preparacao_placa1" value="@Model.preparacao_placa1" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_filtro1" value="@Model.preparacao_filtro1" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_massa1" readonly value="@Model.preparacao_massa1" /></td>
                </tr>
                <tr>
                    <td> Massa 02</td>
                    <td><input class="form-control input " type="text" name="preparacao_placa2" value="@Model.preparacao_placa2" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_filtro2" value="@Model.preparacao_filtro2" /></td>
                    <td><input class="form-control input " type="text" name="preparacao_massa2" readonly value="@Model.preparacao_massa2" /></td>

                </tr>
            </table>
            <br />

            <!--  Terceira tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Procedimento de pesagem da amostra</td>
                </tr>
                <tr class="tabela">
                    <td colspan="1" rowspan="2"> Item </td>
                    <td colspan="1" rowspan="2"> Amostra (g)</td>
                    <td colspan="1" rowspan="2"> Placa+filtro seco+amostra(mg)</td>
                    <td colspan="1" rowspan="2"> Filtro seco + amostra (mg)</td>
                    <td colspan="1" rowspan="2"> Resultaado individual (mg)</td>
                    <td colspan="1" rowspan="2"> Média (%)</td>
                    <td colspan="1" rowspan="2"> Resultado final Máx. 20 mg/kg</td>
                </tr>
                <tr>
                <tr>
                    <td colspan="1"> Massa 01</td>
                    <td><input class="form-control input " type="text" name="pesagem_amostra1" value="@Model.pesagem_amostra1" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_placa1" value="@Model.pesagem_placa1" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_filtro1" readonly /value ="@Model.pesagem_filtro1"></td>
                    <td><input class="form-control input " type="text" name="pesagem_resultado1" readonly value="@Model.pesagem_resultado1" /></td>
                    <td rowspan="2"><input class="form-control input" style="height:100px" readonly name="pesagem_media" value="@Model.pesagem_media" /></td>
                    <td rowspan="2"><input class="form-control input " style="height:100px" readonly name="pesagem_resultfinal" value="@Model.pesagem_resultfinal" /></td>
                </tr>
                <tr>
                    <td> Massa 02</td>
                    <td><input class="form-control input " type="text" name="pesagem_amostra2" value="@Model.pesagem_amostra2" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_placa2" value="@Model.pesagem_placa2" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_filtro2" readonly value="@Model.pesagem_filtro2" /></td>
                    <td><input class="form-control input " type="text" name="pesagem_resultado2" readonly value="@Model.pesagem_resultado2" /></td>

                </tr>
            </table>
            <br />
            <p style="text-align:center"> <strong>Nota:</strong> Se a diferença entre os resultados individuais forem maior que 25% do maior valor, a determinação deve ser repetida.</p>

            <!--  Quarta tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="5" class="texto-central">Materiais Utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3" class="texto-central">Matéria prima</td>
                    <td colspan="1" class="texto-central">Lote</td>
                    <td colspan="1" class="texto-central">Validade</td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="mat_prima1" value="@Model.mat_prima1" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="mat_lote1" value="@Model.mat_lote1" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="mat_validade1" value="@Model.mat_validade1.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="mat_prima2" value="@Model.mat_prima2" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="mat_lote2" value="@Model.mat_lote2" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="mat_validade2" value="@Model.mat_validade2.ToString("dd/MM/yyyy")" /></td>
                </tr>
            </table>
            <br />


            <!--Sextaa Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="10" class="texto-central">Código de instrumentos utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3">Descrição</td>
                    <td colspan="1"> Códigp </td>
                    <td colspan="1">Validade</td>
                    <td colspan="3"> Descrição </td>
                    <td colspan="1">Código</td>
                    <td colspan="1">Validade</td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc1" value="@Model.inst_desc1" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod1" value="@Model.inst_cod1" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_validade1" value="@Model.inst_validade1.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc1_1" value="@Model.inst_desc1_1" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod1_1" value="@Model.inst_cod1_1" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade1_1" value="@Model.inst_validade1_1.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc2" value="@Model.inst_desc2" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod2" value="@Model.inst_cod2" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade2" value="@Model.inst_validade2.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc2_2" value="@Model.inst_desc2_2" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod2_2" value="@Model.inst_cod2_2" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade2_2" value="@Model.inst_validade2_2.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc3" value="@Model.inst_desc3" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod3" value="@Model.inst_cod3" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade3" value="@Model.inst_validade3.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc3_3" value="@Model.inst_desc3_3" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod3_3" value="@Model.inst_cod3_3" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade3_3" value="@Model.inst_validade3_3.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc4" value="@Model.inst_desc4" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod4" value="@Model.inst_cod4" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade4" value="@Model.inst_validade4.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc4_4" value="@Model.inst_desc4_4" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod4_4" value="@Model.inst_cod4_4" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade4_4" value="@Model.inst_validade4_4.ToString("dd/MM/yyyy")" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc5" value="@Model.inst_desc5" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod5" value="@Model.inst_cod5" /></td>
                    <td colspan="1"><input type="tex" class="form-control input " name="inst_validade5" value="@Model.inst_validade5.ToString("dd/MM/yyyy")" /></td>
                    <td colspan="3"><input class="form-control input " type="text" name="inst_desc5_5" value="@Model.inst_desc5_5" /></td>
                    <td colspan="1"><input class="form-control input " type="text" name="inst_cod5_5" value="@Model.inst_cod5_5" /></td>
                    <td colspan="1"><input type="text" class="form-control input " name="inst_validade5_5" value="@Model.inst_validade5_5.ToString("dd/MM/yyyy")" /></td>
                </tr>
            </table>
            <br />

            <!--Setima Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Equipamentos e Dispositivos: </td>
                </tr>
                <tr>
                    <td colspan="1">DE</td>
                    <td colspan="7"><input class="form-control input " type="text" name="equi_de" value="@Model.equi_de" /></td>
                </tr>
                <tr>
                    <td colspan="1">EE</td>
                    <td colspan="7"><input class="form-control input " type="text" name="equi_ee" value="@Model.equi_ee" /></td>
                </tr>
            </table>
            <br />

            <!--Oitava Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td>Observações</td>
                </tr>
                <tr>
                    <td rowspan="2"><textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" style="border:none" name="observacoes">@Model.observacoes</textarea></td>
                </tr>
            </table>
            <br />

            <!--Nona Tabela-->

            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="2">Executado por:</td>
                    <td colspan="2">Auxiliado por:</td>
                </tr>
                <tr>
                    <td colspan="2"><input class="form-control input " type="text" name="executado" value="@Model.executado" /></td>
                    <td colspan="2"><input class="form-control input " type="text" name="auxiliado" value="@Model.auxiliado" /></td>
                </tr>
            </table>
            <br />

            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Coleta</button>
            </div>
        }
    </form>

    @section Scripts {
        @if (TempData.ContainsKey("Mensagem"))
        {
            <script>

                alert('@Html.Raw(TempData["Mensagem"])');
            </script>
        }
    }
</body>
</html>
