@model Arla32.Models.InstrumentosModel;
@{
    ViewData["Title"] = "Coleta De Concentração";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarAldeidos" asp-route-os="@ViewData["OS"]" asp-route-orcamento="@ViewData["orcamento"]">
        @if (Model.aldeidos == null)
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="7" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :@ViewBag.OS</td>
                </tr>
                <tr class="tabela">
                    <td colspan="7" class="texto-central "> ENSAIO DE ARLA 32</td>
                    @*       <td> <input class="form-control input " style="height:10px; border:none;" name="os" readonly /></td> *@
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;" colspan="2">Data Inicio:</td>
                    <td colspan="1"><input class="form-control input " type="date" style="height:50px; border:none;" name="data_ini" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Data Término:</td>
                    <td colspan="2"><input class="form-control input " type="date" style="height:50px; border:none;" name="data_term" /></td>
                    <td colspan="2"> <input class="form-control input " style="height:50px; border:none;" name="os" value="@ViewBag.OS" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="9">
                        <b>Ensaio a ser realizado:</b> Determinação da concentração de aldeído - Anexo F - IT.128-Q
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Norma: ABNT NBR ISO 22241-2
                    </td>
                    <td colspan="6">
                        <input class="form-control input " name="norma" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Np:</td>
                    <td colspan="6">
                        <input class="form-control input " name="np" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Descrição:</td>
                    <td colspan="6">
                        <input class="form-control input " name="descricao" />
                    </td>
                </tr>
                <tr class="tabela">
                    <td colspan="9"></td>
                </tr>
            </table>
            <Br />

            <!--  Segudna tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Medição de amostra</td>
                </tr>
                <tr>
                    <td colspan="2"> Lote da solução padrão </td>
                    <td colspan="6"><input class="form-control input " name="lote_sol" /> </td>
                </tr>
                <td colspan="2"> Código de curva </td>
                <td colspan="2"> <input class="form-control input " name="codigo_curva" /></td>
                <td colspan="2"> Fator de calibração:</td>
                <td colspan="2"> <input class="form-control input " name="fator_calibracao" /> </td>
                <tr>
                </tr>
            </table>

            <br />

            <!--  Terceira tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td class="texto-central" colspan="2">Massa (g)</td>
                    <td class="texto-central">Absorbância</td>
                    <td class="texto-central" colspan="2">Máximo permitido 5mg/Kg</td>
                </tr>
                <tr>
                    <td>Branco</td>
                    <td><input class="form-control input " name="massa_branco" /></td>
                    <td><input class="form-control input " name="absorbancia_branco" /></td>
                    <td rowspan="2"><input class="form-control input " style="height:100px" name="maximo_permitido" readonly /></td>
                </tr>
                <tr>
                    <td>Amostra</td>
                    <td><input class="form-control input " name="massa_amostra" /></td>
                    <td><input class="form-control input " name="absorbancia_amostra" /></td>
                </tr>
            </table>

            <br />

            <!--  Quarta tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela"><td colspan="4" class="texto-central">Carta controle</td></tr>

                <tr>
                    <td> Absorbância QC </td>
                    <td> <input class="form-control input " name="carta_absorbancia" /> </td>
                    <td> Concentração QC </td>
                    <td> <input class="form-control input  " name="carta_concentracao" readonly /> </td>
                </tr>
            </table>
            <br />

            <!--Quinta Tabela-->

            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="5" class="texto-central">Materiais Utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3" class="texto-central">Matéria prima</td>
                    <td colspan="1" class="texto-central">Lote</td>
                    <td colspan="1" class="texto-central">Validade</td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima1" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote1" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="mat_validade1" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima2" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote2" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="mat_validade2" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima3" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote3" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="mat_validade3" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima4" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote4" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="mat_validade4" /></td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima5" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote5" /></td>
                    <td colspan="1"><input type="date" class="form-control input " name="mat_validade5" /></td>
                </tr>
            </table>
            <br />

            <!--Sexta Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Código de instrumentos utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="1">Descrição</td>
                    <td colspan="1"> Códigp </td>
                    <td colspan="1">Validade</td>
                </tr>
                @for (var j = 0; j < Model.instrumentos.Count; j++)
                {
                    @if (Model.instrumentos[j].ativo == 1 && Model.instrumentos[j].equipamento == 0)
                    {
                        <tr>
                            <td><input type="text" readonly class="form-control input " value="@Model.instrumentos[j].descricao" /></td>
                            <td><input type="text" readonly class="form-control input " value="@Model.instrumentos[j].codigo" /></td>
                            <td><input type="text" readonly class="form-control input " value="@Model.instrumentos[j].validade" /></td>
                        </tr>
                    }
                }
            </table>
            <br />

            <!--Setima Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Equipamentos e Dispositivos: </td>
                </tr>
                <tr>
                    <td colspan="1">DE</td>
                    <td colspan="7"><input class="form-control input " name="equi_de" /></td>
                </tr>
                @for (var j = 0; j < Model.instrumentos.Count; j++)
                {
                    @if (Model.instrumentos[j].equipamento == 1)
                    {
                        <tr>
                            <td>EE:</td>
                            <td><input type="text" readonly class="form-control input" readonly name="equip_ee" id="ee_equipamento" value="@Model.instrumentos[j].descricao" /></td>
                        </tr>
                    }
                }
            </table>
            <br />

            <!--Oitava Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td>Observações</td>
                </tr>
                <tr>
                    <td rowspan="2"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="border:none" name="observacoes"></textarea></td>
                </tr>
            </table>
            <br />

            <!-- Nona Tabela-->
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td colspan="1">Executado Por:</td>
                    <td colspan="2">Auxiliado Por:</td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="executado" /></td>
                    <td><input class="form-control input " name="auxiliado" /></td>
                </tr>
            </table>
            <br />

            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar Coleta</button>
            </div>
        }
        else
        {
            <table class="table table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="7" class="texto-central" style="background-color: #800000; color:white;">COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #800000; color:white;"> N° da OS :</td>
                </tr>
                <tr class="tabela">
                    <td colspan="7" class="texto-central "> ENSAIO DE ARLA 32</td>
                    @*       <td> <input class="form-control input " style="height:10px; border:none;" name="os" readonly /></td> *@
                </tr>
                <tr>
                    <td style="background-color: #800000; color:white;" colspan="2">Data Inicio:</td>
                    <td colspan="1"><input class="form-control input " type="datetime" style="height:50px; border:none;" name="data_ini" value="@Model.aldeidos.data_ini" /></td>
                    <td colspan="2" style="background-color: #800000; color:white;">Data Término:</td>
                    <td colspan="2"><input class="form-control input " type="datetime" style="height:50px; border:none;" name="data_term" value="@Model.aldeidos.data_term" /></td>
                    <td colspan="2"> <input class="form-control input " style="height:50px; border:none;" name="os" value="@ViewBag.OS" /></td>
                </tr>
                <tr class="texto-central">
                    <td colspan="9">
                        <b>Ensaio a ser realizado:</b> Determinação da concentração de aldeído - Anexo F - IT.128-Q
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Norma: ABNT NBR ISO 22241-2
                    </td>
                    <td colspan="6">
                        <input class="form-control input " name="norma" value="@Model.aldeidos.norma" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Np:</td>
                    <td colspan="6">
                        <input class="form-control input " name="np" value="@Model.aldeidos.np" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Descrição:</td>
                    <td colspan="6">
                        <input class="form-control input " name="descricao" value="@Model.aldeidos.descricao" />
                    </td>
                </tr>
                <tr class="tabela">
                    <td colspan="9"></td>
                </tr>
            </table>
            <Br />

            <!--  Segudna tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Medição de amostra</td>
                </tr>
                <tr>
                    <td colspan="2"> Lote da solução padrão </td>
                    <td colspan="6"><input class="form-control input " name="lote_sol" value="@Model.aldeidos.lote_sol" /> </td>
                </tr>
                <td colspan="2"> Código de curva </td>
                <td colspan="2"> <input class="form-control input " name="codigo_curva" value="@Model.aldeidos.codigo_curva" /></td>
                <td colspan="2"> Fator de calibração:</td>
                <td colspan="2"> <input class="form-control input " name="fator_calibracao" value="@Model.aldeidos.fator_calibracao" /> </td>
                <tr>
                </tr>
            </table>

            <br />
            <!--  Terceira tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td class="texto-central" colspan="2">Massa (g)</td>
                    <td class="texto-central">Absorbância</td>
                    <td class="texto-central" colspan="2">Máximo permitido 5mg/Kg</td>
                </tr>
                <tr>
                    <td>Branco</td>
                    <td><input class="form-control input " name="massa_branco" value="@Model.aldeidos.massa_branco" /></td>
                    <td><input class="form-control input " name="absorbancia_branco" value="@Model.aldeidos.absorbancia_branco" /></td>
                    <td rowspan="2"><input class="form-control input " value="@Model.aldeidos.maximo_permitido" style="height:100px" name="maximo_permitido" readonly /></td>
                </tr>
                <tr>
                    <td>Amostra</td>
                    <td><input class="form-control input " name="massa_amostra" value="@Model.aldeidos.massa_amostra" /></td>
                    <td><input class="form-control input " name="absorbancia_amostra" value="@Model.aldeidos.absorbancia_amostra" /></td>
                </tr>
            </table>

            <br />

            <!--  Quarta tabela.  -->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela"><td colspan="4" class="texto-central">Carta controle</td></tr>

                <tr>
                    <td> Absorbância QC </td>
                    <td> <input class="form-control input " name="carta_absorbancia" value="@Model.aldeidos.carta_absorbancia" /> </td>
                    <td> Concentração QC </td>
                    <td> <input class="form-control input  " name="carta_concentracao" readonly value="@Model.aldeidos.carta_concentracao" /> </td>
                </tr>
            </table>
            <br />

            <!--Quinta Tabela-->

            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="5" class="texto-central">Materiais Utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="3" class="texto-central">Matéria prima</td>
                    <td colspan="1" class="texto-central">Lote</td>
                    <td colspan="1" class="texto-central">Validade</td>
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima1" value="@Model.aldeidos.mat_prima1" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote1" value="@Model.aldeidos.mat_lote1" /></td>
                    @if (Model.aldeidos.mat_validade1 != DateOnly.MinValue)
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade1" value="@Model.aldeidos.mat_validade1" /></td>
                    }
                    else
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade1" value="---" /></td>
                    }
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima2" value="@Model.aldeidos.mat_prima2" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote2" value="@Model.aldeidos.mat_lote2" /></td>
                    @if (Model.aldeidos.mat_validade2 != DateOnly.MinValue)
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade2" value="@Model.aldeidos.mat_validade2" /></td>
                    }
                    else
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade2" value="---" /></td>
                    }
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima3" value="@Model.aldeidos.mat_prima3" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote3" value="@Model.aldeidos.mat_lote3" /></td>
                    @if (Model.aldeidos.mat_validade3 != DateOnly.MinValue)
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade3" value="@Model.aldeidos.mat_validade3" /></td>
                    }
                    else
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade3" value="---" /></td>
                    }
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima4" value="@Model.aldeidos.mat_prima4" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote4" value="@Model.aldeidos.mat_lote4" /></td>
                    @if (Model.aldeidos.mat_validade4 != DateOnly.MinValue)
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade4" value="@Model.aldeidos.mat_validade4" /></td>
                    }
                    else
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade4" value="---" /></td>
                    }
                </tr>
                <tr>
                    <td colspan="3"><input class="form-control input " name="mat_prima5" value="@Model.aldeidos.mat_prima5" /></td>
                    <td colspan="1"><input class="form-control input " name="mat_lote5" value="@Model.aldeidos.mat_lote5" /></td>
                    @if (Model.aldeidos.mat_validade4 != DateOnly.MinValue)
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade5" value="@Model.aldeidos.mat_validade5" /></td>
                    }
                    else
                    {
                        <td colspan="1"><input type="datetime" class="form-control input " name="mat_validade5" value="---" /></td>
                    }
                </tr>
            </table>
            <br />

            <!--Sexta Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Código de instrumentos utilizados</td>
                </tr>
                <tr class="tabela">
                    <td colspan="1">Descrição</td>
                    <td colspan="1"> Códigp </td>
                    <td colspan="1">Validade</td>
                </tr>
                @for (var j = 0; j < Model.instrumentos.Count; j++)
                {
                    @if (Model.instrumentos[j].ativo == 1 && Model.instrumentos[j].equipamento == 0)
                    {
                        <tr>
                            <td><input type="text" readonly class="form-control input " value="@Model.instrumentos[j].descricao" /></td>
                            <td><input type="text" readonly class="form-control input " value="@Model.instrumentos[j].codigo" /></td>
                            <td><input type="text" readonly class="form-control input " value="@Model.instrumentos[j].validade" /></td>
                        </tr>
                    }
                }
               
            </table>
            <br />

            <!--Setima Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td colspan="8" class="texto-central">Equipamentos e Dispositivos: </td>
                </tr>
                <tr>
                    <td colspan="1">DE</td>
                    <td colspan="7"><input class="form-control input " name="equi_de" value="@Model.aldeidos.equi_de" /></td>
                </tr>
                @for (var j = 0; j < Model.instrumentos.Count; j++)
                {
                    @if (Model.instrumentos[j].equipamento == 1)
                    {
                        <tr>
                            <td>EE:</td>
                            <td><input type="text" readonly class="form-control input" readonly name="equip_ee" id="ee_equipamento" value="@Model.instrumentos[j].descricao" /></td>
                        </tr>
                    }
                }
            </table>
            <br />

            <!--Oitava Tabela-->
            <table class="table table-bordered border-secondary table-sm">
                <tr class="tabela">
                    <td>Observações</td>
                </tr>
                <tr>
                    <td rowspan="2"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="border:none" name="observacoes">@Model.aldeidos.observacoes </textarea></td>
                </tr>
            </table>
            <br />

            <!-- Nona Tabela-->
            <table class="table table-bordered border-secondary  table-sm">
                <tr class="tabela">
                    <td colspan="1">Executado Por:</td>
                    <td colspan="2">Auxiliado Por:</td>
                </tr>
                <tr>
                    <td><input class="form-control input " name="executado" value="@Model.aldeidos.executado" /></td>
                    <td><input class="form-control input " name="auxiliado" value="@Model.aldeidos.auxiliado" /></td>
                </tr>
            </table>
            <br />

            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Coleta</button>
            </div>
        }
    </form>
    @section Scripts {
        @if (TempData.ContainsKey("Mensagem"))
        {
            <script>

                alert('@Html.Raw(TempData["Mensagem"])');
            </script>
        }

        <script>
            document.addEventListener("keydown", function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                }
            });
        </script>
    }
</body>
</html>
